<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - MyIP</title>
    <style>
        body {
            font-family: "Tinos", serif;
            font-size: 18px;
            text-align: center;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <h1>404 - Page not found</h1>
    <p>Oopsie! Nothing to look here!</p>
    <p><a href="/">Go back to MyIP</a></p>
</body>
</html>
