<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    <title>404 - MyIP</title>
</head>
<style>
    body {
        font-family: "Tinos", serif;
        font-size: 18px;
        text-align: center;
        margin-top: 10%;
        padding: 24px;
    }
    h1 {
        font-weight: 900;
    }
    a {
        color: #4078c0;
    }
</style>
<body>
    <h1>404 - Page not found</h1>
    <p>Oopsie! Nothing to look here!</p>
    <p><a href="/">Go back to MyIP</a></p>
</body>
</html>
